.contenedor {
    height: 860px;
    background: #f66b0f;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:1024px) {
    .contenedor {
        height: 730px;
    }
}

.content {
    font-family: Arial;
    text-align: center;
    font-size: 2em;
    color:white ;
  }

  .content p{
    font-size: 18px;
  }

  .waves {
    position: absolute;
    bottom: -135px;
    height: 527px;
    width: 100%;
    overflow: hidden;
  }
  .wave {
    position: absolute;
    left: -180px;
    bottom: 0;
    width: 2402px;
    height: 427px;
    background: url(https://static.platzi.com/media/files/waves_c8551f5d-ecf6-4a81-ae1d-f3a0ad55ba10.png) center bottom no-repeat;
    animation: 5s wave ease-in-out infinite alternate;
  }
  .wave.a {
    background-position: 0 -854px;
  }
  .wave.b {
    background-position: 0 -427px;
    animation-delay: .6s;
  }
  .wave.c {
    background-position: 0 0;
    animation-delay: 1.2s;
  }
  @keyframes wave {
    0% {
      transform: translate(0 , 0);
    }
    50% {
      transform: translate(-80px, 30px);
    }
    100% {
      transform: translate(160px, -60px);
    }
  }

.header{
    position: sticky;
    top: 0;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F68F4C;
    color: #fff;
}

.nav ul{
    display: flex;
    list-style: none;
}

.nav ul li{
    margin: 10px;
}

.nav ul li a{
    color: #fff;
    text-decoration: none;
    transition: all 300ms ease;
}

.nav ul li a:hover{
    color: #fff;
    border-bottom: 2px solid #fff;
    background: #b96520;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}

.home, .store{
    font-size: 25px;
}

.logo-img{
    padding: 25px;
    background-position: center;
    background-size: cover;
}

.logo-img img{
    border-radius: 100px;
    border: 2px solid #b35e19;
    transition: all 500ms ease;
}

@media screen and (max-width:524px) {
    .contenedor {
        height: 789px;
    }
    .nav{
        text-align: center;
        width: 100%;
        line-height: 2px;
        justify-content: center;
        padding-top: 10px;
    }

    .home, .store{
        font-size: 15px;
    }

    .nav ul li a:hover{
        padding: 5px;
    }
}



/* FOOTER */

.footer{
    border-top: 3px solid #FF5E00;
}

.pie-pagina{
    width: 100%;
    background-color: #F2F2F2;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
    width: 200px;
    transition: all 0.5s ease;
    border-radius: 100px;
} 



.pie-pagina .grupo-1 .box h2{
    color: #000;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p{
    color: #000;
    margin-bottom: 10px;
}


.pie-pagina .grupo-1 .red-social a{
    text-decoration: none;
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #C4C4C4;
    text-align: center;
    transition: all 300ms ease;
    border-radius: 60px;
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: #b35e19;
}

.pie-pagina .grupo-2{
    background-color: #D8D8D8;
    padding: 15px 10px;
    text-align: center;
    color: #000;
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
}

@media screen and (max-width:1024px) {
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}

/* Tex From index.html */

.scrol{
    padding-top: 4rem;
    padding-bottom: 4rem;
}


.instagram-web{
    border: 2px solid #b35e19;
    border-radius: 20px;
}

@media screen and (max-width:1024px) {
    .instagram-web{
        height: 370px;
        width: 300px;
    }
}

